@keyframes rotateY {
    0%{
        opacity: 0;
        transform: rotateY(180deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(360deg);
    }
}

@keyframes rotateX {
    0%{
        opacity: 0;
        transform: rotateX(180deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(360deg);
    }
}

@keyframes rotateZ_isSpinIn {
    0%{
        opacity: 0;
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(400deg);
    }
    80% {
        transform: rotateZ(340deg);
    }
    100% {
        opacity: 1;
        transform: rotateZ(360deg);
    }
}