@keyframes rotateY {
  0% {
    opacity: 0;
    transform: rotateY(180deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(360deg);
  }
}
@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(180deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(360deg);
  }
}
@keyframes rotateZ_isSpinIn {
  0% {
    opacity: 0;
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(400deg);
  }
  80% {
    transform: rotateZ(340deg);
  }
  100% {
    opacity: 1;
    transform: rotateZ(360deg);
  }
}
@keyframes shootingstar {
  0% {
    top: -10%;
    left: -10%;
    transform: scale(1) rotate(0deg);
  }
  50% {
    top: -10%;
    left: 10%;
    transform: scale(1) rotate(0deg);
  }
  100% {
    top: 100%;
    left: 100%;
    transform: scale(0.1) rotate(1000deg);
  }
}
@keyframes flotItem {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: Hiragino Kaku Gothic Pro, Meiryo, Osaka, MS PGothic, sans-serif;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: inherit;
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
}

.group + .group {
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .group + .group {
    margin-top: 60px;
  }
}

.space10vh {
  background: #333;
  color: #fff;
  line-height: 10vh;
  text-align: center;
}
.space10vh::before {
  content: "space";
}

.space20vh {
  background: #333;
  color: #fff;
  line-height: 20vh;
  text-align: center;
}
.space20vh::before {
  content: "space";
}

.space30vh {
  background: #333;
  color: #fff;
  line-height: 30vh;
  text-align: center;
}
.space30vh::before {
  content: "space";
}

.space40vh {
  background: #333;
  color: #fff;
  line-height: 40vh;
  text-align: center;
}
.space40vh::before {
  content: "space";
}

.space50vh {
  background: #333;
  color: #fff;
  line-height: 50vh;
  text-align: center;
}
.space50vh::before {
  content: "space";
}

.space60vh {
  background: #333;
  color: #fff;
  line-height: 60vh;
  text-align: center;
}
.space60vh::before {
  content: "space";
}

.space70vh {
  background: #333;
  color: #fff;
  line-height: 70vh;
  text-align: center;
}
.space70vh::before {
  content: "space";
}

.space80vh {
  background: #333;
  color: #fff;
  line-height: 80vh;
  text-align: center;
}
.space80vh::before {
  content: "space";
}

.space90vh {
  background: #333;
  color: #fff;
  line-height: 90vh;
  text-align: center;
}
.space90vh::before {
  content: "space";
}

.space100vh {
  background: #333;
  color: #fff;
  line-height: 100vh;
  text-align: center;
}
.space100vh::before {
  content: "space";
}

.scrollPoint {
  position: fixed;
  right: 0;
  top: 50%;
}

/* ===================================================================
tab
=================================================================== */
.tabLists {
  font-size: 1.5em;
}
.tabLists .inner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.2em;
}

.tabLists_tab {
  background: #ccc;
  color: #333;
  width: 100%;
  padding: 1em;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 0.2em;
}
.tabLists_tab.is-active {
  padding: 1.1em;
  margin-top: 0em;
  background: #333;
  color: #fff;
}

.tabContent {
  display: none;
  border: 0.5em solid #333;
}
.tabContent.is-active {
  display: block;
}

.collectionTop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  background: #492410;
}

.collectionTop_in {
  background: #1a2849;
  width: 100%;
  height: 100%;
  border-radius: 1%;
  position: relative;
  overflow: hidden;
}
.collectionTop_in .inner {
  height: 100%;
}

.collectionTop_list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  font-size: 2em;
}

.collectionTop_star {
  position: absolute;
  background: #ffeb13;
  -webkit-clip-path: polygon(50% 0%, 68% 29%, 98% 35%, 80% 65%, 78% 92%, 50% 74%, 21% 91%, 24% 61%, 2% 35%, 32% 29%);
          clip-path: polygon(50% 0%, 68% 29%, 98% 35%, 80% 65%, 78% 92%, 50% 74%, 21% 91%, 24% 61%, 2% 35%, 32% 29%);
}
.collectionTop_star:nth-child(1) {
  top: 2%;
  left: 2%;
  width: 3em;
  height: 3em;
  animation: flotItem 1s infinite alternate;
}
.collectionTop_star:nth-child(2) {
  top: 7%;
  left: 4%;
  width: 4em;
  height: 4em;
  animation: flotItem 1.2s infinite alternate;
}
.collectionTop_star:nth-child(3) {
  top: 4%;
  left: 9%;
  width: 2em;
  height: 2em;
  animation: flotItem 1s 0.2s infinite alternate;
}
.collectionTop_star:nth-child(4) {
  width: 5em;
  height: 5em;
  animation: shootingstar 10s infinite;
}/*# sourceMappingURL=style.css.map */